:root {
    --base-color: rgb(255, 255, 0);
    --secondary-color: rgb(0, 204, 255);
}
.container {
    max-width: 1024px;
    margin:  auto;
}
header {
    display: flex;
}
#main-header {
    background: var(--base-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
h1 {
    margin: .25em;
    flex: 2;
    color:rgb(1, 1, 32);
    font-size: 2.2rem;
} 
nav  {
    margin: 1.15em .5em;
    flex: 1;
    font-size: 1.1rem;
}
a {
    margin: .5em;
    padding: .5em;
    font-size: var(--general-font-size);
    text-decoration: none;
    color: rgb(1, 1, 32);
}
nav a:hover {
    background: rgb(188, 239, 252);
}
#get-started {
    margin-top: 3.5em;
    display: flex;
    align-items: center;
    flex-direction: column;
}
section h1 {
    text-align: center;
}
input {
    width: 25%;
    max-width: 700px;
    margin: .5em;
}
button {
    padding: .5em;
    width: 15%;
    max-width: 153.6px;
    background: var(--secondary-color);
    border: 1px solid;
    color: #FFF;
}
/*  features */
#features {
    margin: 5em auto;
}
.one-feature {
    margin: 2em 3.5em;
    padding: 1em 0;
    display: flex;
}
.description {
    width: 85%; 
}
.description h1 {
    font-size: 2.1rem;
    text-align: center;
}
.description p {
    margin: .8em 4.5em;
    font-size: 1.2rem;
    text-align: center;
}
/*  pricing section */
#pricing {
    margin: 1em 0;
    display: flex;
    justify-content: space-between; 
}
.box {
    width: 30%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    text-align: center;
}
.box header {
    width: 100%;
    padding: 0 100%;
}
.box h1 {
    margin: 0;
    padding: .5em 0;
    background: rgb(241, 238, 238);
}
.box main {
    padding: .5em;
}
.box button {
    width: 100%;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    background: rgb(241, 238, 238);
    font-size: 1.12rem;
}
.policy {
    margin: 1em 1em 0;
    display: flex;
    justify-content: space-around;
}
.policy span {
    margin: 0 .5em;
} 
.copyright p {
    margin: .5em;
}
/*  1st media query */
@media screen and (max-width: 719px) {
    header {
        flex-direction: column;
    }
    h1 {
        margin: 0;
        text-align: center;
    }
    nav {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    #get-started {
        margin-top: 6em;
    }
    input {
        width: 60%;
        padding: .5em;
    }
    button {
        width: 40%;
    }
    .one-feature {
        margin:  0;
        flex-direction: column;
    }
    i {
        text-align: center;
    }
    .description h1 {
        margin-top: 1em;
        text-align: center;
    }
    .description p {
        margin: .25em 0;
    }
    #pricing {
        flex-direction: column;
        align-items: center;
    }
    .box {
        margin: .5em 0;
        width: 100%;
    }
}
@media screen and (min-width:720px) and (max-width:936px) {
    h1 {
        flex: 1;
    }
    nav {
        margin: .4em;
        display: flex;
        justify-content: flex-end;
    }
}
@media screen and (min-width:1024px) {
    input {
            padding: .5em;
            width: 100%;
    }
}